@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */


/* .app
{
    min-height: 100vh;
    display: flex;
    background-image: url("./assets/bg-Image.jpg");
    background-size: cover;
    background-position: center;
} */

@layer base {
  button {
    @apply cursor-pointer;
  }
}
