@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */


*{
    margin: 0;
    padding: 0;
}

.app
{
    min-height: 100vh;
    display: flex;
    background-image: url("./assets/bg-Image.jpg");
    background-size: cover;
    background-position: center;
}